.display-linebreak {
    display: block;
    padding-left: 1rem;
}
.clickable {
    cursor: pointer;
    color: blue;
}
.indented {
    margin-left: 4rem;
}
pre {
    line-height: 0.7;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
span {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
