.display-linebreak {
    display: block;
    padding-left: 1rem;
}
.clickable {
    cursor: pointer;
    color: blue;
}
pre {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
span {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
